# list

In [1]:
mylist = ["Max", "is", 28, "years", "old"]

In [2]:
print(mylist)

['Max', 'is', 28, 'years', 'old']

In [3]:
l = [100]
i = 5
print(l + i)

TypeError: can only concatenate list (not "int") to list

# tuple

In [4]:
mt = ('a', 'b', 1, 2, 3)

In [5]:
print(mt)

('a', 'b', 1, 2, 3)

In [6]:
print(type(mt))

<class 'tuple'>

In [7]:
a = ['1']
b = (1)
c = (1,)

In [9]:
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'int'>
<class 'tuple'>

# index

In [11]:
p = "python"
q = ["one", "teo"]

In [12]:
p[0]

'p'

In [13]:
q[0]

'one'

# slice

In [14]:
J = ('ef', 'ef', 'dg', 23, 'dgh', 4)

In [15]:
J[2]

'dg'

In [19]:
J[2:6]

('dg', 23, 'dgh', 4)

In [20]:
J[2:7]

('dg', 23, 'dgh', 4)

In [21]:
J[2:]

('dg', 23, 'dgh', 4)

In [22]:
K = J[:3] + ('e', 'g', 2) + J[5:]

In [23]:
K

('ef', 'ef', 'dg', 'e', 'g', 2, 4)

# Concatenation and Repetition

In [24]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [25]:
g = ['e', 'g', 't']

In [26]:
print(g + [2, 3, 5])

['e', 'g', 't', 2, 3, 5]

In [27]:
print([1] * 4)

[1, 1, 1, 1]

In [28]:
print([2, 3] * 4)

[2, 3, 2, 3, 2, 3, 2, 3]

In [29]:
print(g * 4)

['e', 'g', 't', 'e', 'g', 't', 'e', 'g', 't', 'e', 'g', 't']

In [30]:
print((g + [1]) * 4)

['e', 'g', 't', 1, 'e', 'g', 't', 1, 'e', 'g', 't', 1, 'e', 'g', 't', 1]

In [31]:
print(g + [1]*4)

['e', 'g', 't', 1, 1, 1, 1]

# Count and Index

In [33]:
y = ['sfsd', 'dd', 'tgb', 'dd', 'wer', 23]

In [34]:
y.count('dd')

2

In [35]:
y.count(23)

1

In [36]:
y.count('s')

0

In [37]:
h = "sef seg htrh sf kl 3"

In [39]:
h.index('f')

2

In [40]:
h.index('seg')

4

In [41]:
y.index('sfsd')

0

In [42]:
y.index('dd')

1

# Split and Join

In [49]:
s = 'the sky is blue'
a = '/'

In [50]:
s.split()

['the', 'sky', 'is', 'blue']

In [51]:
s.split('s')

['the ', 'ky i', ' blue']

In [53]:
li = ['a', 'b', 'c']

In [54]:
li

['a', 'b', 'c']

In [56]:
a.join(li)

'a/b/c'

In [57]:
'***'.join(li)

'a***b***c'

In [58]:
''.join(li)

'abc'

# The For Loop

In [61]:
p = ['d', 'f', 'w', 'e', 'r', 'p']
for name in p:
    print("It is: {}".format(name))

It is: d
It is: f
It is: w
It is: e
It is: r
It is: p

In [62]:
for ac in "ad fe der":
    print(ac)

a
d

f
e

d
e
r

# The Accumulator Pattern

In [63]:
nums = [1,2,3,4,5,6,7,8,9,10]
accum = 0
for n in nums:
    accum = accum + n
print(accum)

55

# The Range Function

In [65]:
nums = [1,2,3,4,5,6,7,8,9,10]
print("range(5):")
for i in range(5):
    print(i)

range(5):
0
1
2
3
4

In [66]:
print("range(0, 5):")
for i in range(0, 5):
    print(i)

range(0, 5):
0
1
2
3
4

In [67]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [68]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [72]:
print(range(5))

range(0, 5)

In [74]:
o = range(5)

In [75]:
o

range(0, 5)

In [76]:
for i in o:
    print(i)

0
1
2
3
4